form {
    margin: 10px;

}

label {
    width: 100px;
    display: inline-block;
}

input {
    display: inline-block;
}

.form-group {
    margin: 5px 0px;
}

.colum {
    margin: 0px 5px;
    padding: 3px;
    border-style: solid;
}

.container {
    display: flex;

}

body {
    margin: 0px;
    background-color: goldenrod;
}

.flex {
    display: flex;
    flex-direction: column;
    
}

input:focus {
    border-color: blue;
    background-color: lightblue;
    transform: scale(1.1);
}
    
button:hover {
    background-color: #a9fffb;
    color: rgb(0, 0, 0);
    transform: scale(1.2);
    cursor: pointer;
}